.principalPost {
  width: 100%;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 2rem;
}

.principalPost .post {
  width: 100%;
}

.principalPost .post picture {
  filter: drop-shadow(0px 9px 80px rgba(0, 0, 0, 0.15)) drop-shadow(0px 3.75998px 33.4221px rgba(0, 0, 0, 0.107828))
    drop-shadow(0px 2.01027px 17.869px rgba(0, 0, 0, 0.0894161))
    drop-shadow(0px 1.12694px 10.0172px rgba(0, 0, 0, 0.075))
    drop-shadow(0px 0.598509px 5.32008px rgba(0, 0, 0, 0.0605839))
    drop-shadow(0px 0.249053px 2.21381px rgba(0, 0, 0, 0.0421718));
}

.principalPost .post picture img {
  width: 100%;
  border-radius: 0.2rem;
  object-fit: cover;
}

.principalPost .post div h2 {
  font-size: 2.4rem;
  font-family: var(--titles-font);
  line-height: 115%;
}

.principalPost .post div h2:hover {
  text-decoration: underline;
}

.principalPost .post div div time {
  font-size: 1.4rem;
  color: #bdbdbd;
  font-weight: 400;
}

.secondaryPost {
  width: 100%;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 4rem;
}

.secondaryPost .post {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding-bottom: 2rem;
  border-bottom: 1px solid var(--gray);
}

.secondaryPost .post picture {
  width: 35%;
  height: 150px;
}

.secondaryPost .post picture img {
  height: 150px;
  width: 100%;
  border-radius: 0.4rem;
  object-fit: cover;
}

.secondaryPost .post div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
}

.secondaryPost .post div h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-top: 0;
  font-family: var(--titles-font);
}

.secondaryPost .post div h2:hover {
  text-decoration: underline;
}

.secondaryPost .post div div time {
  font-size: 1.4rem;
}
