@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&family=Montserrat:wght@400;700;800;900&display=swap");

:root {
  --general-font: "Manrope", Arial, Helvetica, sans-serif;
  --titles-font: "Montserrat", Arial, Helvetica, sans-serif;
  --fw-p-title: 800;
  --fw-s-title: 700;
  --fw-n-text: 500;
  --fw-a-data: 300;

  --text-color: #2d3748;
  --black: #000000;
  --footer-color: #1a202c;
  --green: #38a169;
  --gray: #eeeeee;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--titles-font);
  font-size: 62.5%;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 60%;
  margin: 4rem auto;
}

@media screen and (max-width: 1024px) {
  main {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  main {
    max-width: 90%;
  }
}
